@import '../tools/_functions.sass';

$color-pack: true !default;
$font-size-root: 12px !default;
$spacer: 1px !default;

$spacers: () !default;
@if (type-of($spacers) == list) {
  @for $i from 0 through 20 {
    $spacers: map-merge($spacers, ($i: $spacer * $i))
  }
}

$negative-spacers: () !default;
@if (type-of($negative-spacers) == list) {
  @for $i from 1 through 20 {
    $negative-spacers: map-merge($negative-spacers, ("n" + $i: -$spacer * $i))
  }
}
